<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group3.seshealthpatient">
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.TutorialActivity" />
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".activities.AddInfoActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.HelloActivity" />
        <activity android:name=".activities.RecordVideoActivity" />
        <activity android:name=".activities.EditInfoActivity" />
        <activity android:name=".activities.DoctorRegistrationActivity" />
        <activity android:name=".activities.DoctorAddInfoActivity" />
        <activity android:name=".activities.DoctorMainActivity" />
        <activity android:name=".activities.DoctorUpdateInfoActivity"/>
        <activity android:name=".activities.UploadVideoActivity"/>
        <activity android:name=".activities.OpenSystemGalleryActivity"/>

    </application>

</manifest>